<!-- User Message -->
@if(message().role === "user") {
  <div class="w-full flex justify-end">
    <div class="bg-gray-100 dark:bg-gray-700 py-6 px-8 rounded-lg ml-24">
      <div class="text-gray-900 dark:text-gray-100">
        {{ message().content }}
      </div>
    </div>
  </div>
}

<!-- Assistant Message -->
@else if(message().role === "assistant") {
<div class="py-4 px-4">
  @if(showMarkdown()) {
  <div class="prose dark:prose-invert max-w-none prose-p:my-4 prose-ul:my-4 prose-ol:my-4">
    <markdown [data]="message().content"></markdown>
  </div>
  } @else {
  <div class="text-gray-900 dark:text-gray-100">
    {{ message().content }}
  </div>
  }
</div>
}

<!-- System Message -->
@else if(message().role === "system") {
<div class="w-full flex justify-center">
  <div
    class="bg-yellow-50 dark:bg-yellow-900 border border-yellow-200 dark:border-yellow-700 text-yellow-800 dark:text-yellow-200 p-2 px-4 rounded-lg text-sm">
    {{ message().content }}
  </div>
</div>
}