<div class="flex flex-col gap-1.5">

    <label [class]="labelPosition() === 'left' ? 'flex flex-row items-center gap-4' : 'flex flex-col gap-1.5'">
        {{ label() }} @if (required()) { <span class="text-red-500">*</span> }
    </label>


    <twang-button variant="outline" [size]="size()" (btnClick)="isOpen.set(!isOpen())"
        [attr.aria-expanded]="isOpen()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <span class="w-full flex flex-row">
            @if (selectedLabels()  && selectedLabels().length > 0) {
                <span class="text-left text-primary bg-primary-50 p-1 rounded-sm ">
                    {{selectedLabels()}}
                </span>
            }
        </span>
        <span class="pl-2">
            ▼
        </span>

    </twang-button>

    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen()"
        [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayMatchWidth]="true"
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop" (backdropClick)="isOpen.set(false)">

        <div class="w-full p-2 bg-white shadow-lg bg-white border border-gray-300 rounded-sm">
            <twang-tree-view size="sm" [nodes]="nodes()" [multiselect]="multiselect()" (nodeClick)="onNodeClick($event)"></twang-tree-view>
        </div>
    </ng-template>

</div>